/* Navigation Bar */

#navbar{
    flex-direction: column;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 120px;
    z-index: -1;
    opacity: 0.7;  

} 

#navbar img{
    display: block;
    width: 99px;
    margin: auto;
}

#navbar ul{
    margin: auto;

}

#navbar ul li a{
    color: black;
} 

/* Home */







/* Our Services */

#mainbox{
    flex-direction: column;
    overflow: hidden;
}






/* Our Clients */







/* Contact Form */