 CSS Reset

*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 79px;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;  

} 

/* Navigation Bar: Logo & Image */

#logo{
    margin: 5px 10px;
    
}
#logo img{
    height: 50px;
    /* width: 59px; */
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 2px 14px;
}

ul li a{
    color: aliceblue;
    cursor: pointer;
    font-size: 21px;
    padding: 2px 5px;
    border-radius: 5px;
}

ul li a:hover{
    color: black;
    background-color: aliceblue;
    
}

/* Navigation Bar: List styling */

/* Home Styling */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#home::before{
    content: "";
    background: url('../bg1.jpg')no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;  
}

/* Our Services */


#ourservice{
    margin-top: 100px;
    
}

#mainbox{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

.box{
    border: 2px solid red;
    margin: 2px 8px;
    padding: 15px 14px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.box img{
    height: 70px;
    display: block;
    width: 70px;
    margin: auto;
}

.box p{
    display: block;
    width: 400px;
    margin: auto;
}


/* Utility Classes */

.h-primary{
    font-size: 40px;
    padding: 12px;
}

.h-secondary{
    font-size: 25px;
    padding: 12px;
}

.center{
    text-align: center;
    
}

.btn{
    margin-top: 25px;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 9px;
    color: antiquewhite;
    background-color: rgb(98, 145, 125);
    text-decoration: none;
}

.btn:hover{
    color: white;
    background-color: black;
}


/* Our Clients */

#clientsection img{
    height: 100px;
    width: 100px;
    padding: 40px;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clientsection{
    position: relative;
}

#clientsection::before{
    content: "";
    background: url('../bg.jpg')no-repeat center center/cover;
    position: absolute;
    height: 320px;
    width: 100%;
    z-index: -2;
    opacity: 0.5;  
}

/* Contact Form */

.contact::before{
    content: "";
    background: url('../contact.jpg')no-repeat center center/cover;
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -2;
    opacity: 0.5; 
}

#contact-box input,
#contact-box textarea{
    width: 100%;
}

#contact-box{
    margin: 2px 200px;
}

.btnm{
    cursor: pointer;

    
}

#search{
    margin-left: 350px;
    margin-top: 10px;
}

.btmm{
    margin-left: 400px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btmm:hover{

    color: aliceblue;
    background-color: black;

}
.box1{
    padding-bottom: 40px;
    margin-top: 20px;
    border-color: blue;
    margin-left: 50px;
    font-weight: 500;
    font-size: 35px;
    
}

.boxsmall{
    margin-left: 150px;
    padding-left: 20px;
    margin-right: 920px;
    font-size: 20px;
    border-color: rgb(247, 15, 15);
    background-color: aqua;
}

.btnf{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    color: white;
    
}

.btnf a{
    text-decoration: none;

}

.finalimage img{
    height: 70px;
    display: block;
    width: 70px;
    margin-left: 410px;
}

h1{
    font-size: 20px;
    font-weight: 300;
}

.btn a{
    text-decoration: none;
    color: aliceblue;
}

nav ul li a{
    text-decoration: none;
}

.contact div form div{
    margin-top: 10px;

}

 /* .mbox::before{
    content: "";
    background: url('../Fusion.png')no-repeat center center/cover;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -2;
    opacity: 0.5; 
}  */

footer .center{
    margin-top: 40px;
}

#ourservice h2{
    margin-top: 20px;
}

.sbox{
    background-color: blanchedalmond;
}

.mbox{
    background-color:darkseagreen;
}

.lbox{
    background-color:blanchedalmond
}